@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> UserManager;
@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">Login</a>
    <span style="padding: 5px;"></span>
    <a class="btn btn-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">Register</a>
}
else
{
    <div class="nav-item dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
            Hello @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown">
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="nav-link dropdown-item" asp-controller="Account" asp-action="AllUsers">User accounts</a>
                    </li>
            }
                <li>
                    <a class="nav-link dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change password</a>
                </li>
            </ul>
        
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-danger my-2 my-sm-0">Logout</button>
    </form>
}