<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Not Access</h2>
        <h1>Please register or log in</h1>
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Home</a> 
        </p>
    </div>
</div>