@model PcBuilder

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Pc</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Cpu" class="control-label"></label>
                        <input asp-for="Cpu" class="form-control" readonly/>
                        <span asp-validation-for="Cpu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Motherboard" class="control-label"></label>
                        <input asp-for="Motherboard" class="form-control" readonly/>
                        <span asp-validation-for="Motherboard" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Memory" class="control-label"></label>
                        <input asp-for="Memory" class="form-control" readonly/>
                        <span asp-validation-for="Memory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Storge" class="control-label"></label>
                        <input asp-for="Storge" class="form-control" readonly/>
                        <span asp-validation-for="Storge" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gpu" class="control-label"></label>
                        <input asp-for="Gpu" class="form-control" readonly></input>
                        <span asp-validation-for="Gpu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Case" class="control-label"></label>
                        <input asp-for="Case" class="form-control" readonly/>
                        <span asp-validation-for="Case" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Psu" class="control-label"></label>
                        <input asp-for="Psu" class="form-control" readonly></input>
                        <span asp-validation-for="Psu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" readonly/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="PcBuilderId" />
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <input type="submit" value="Accept" class="btn btn-danger float-end"/>
                            }
                        </form>
                        <a class="btn btn-secondary" asp-action="Index">Back</a>
                    </div>
            </div>
        </div>
    </div>
</div>
