@model GameHelperApp.ViewModel.AddPcViewModel

@{
    ViewBag.Title = "Update Pc";
    Layout = "_Layout";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Pc</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="PcBuilderId" class="form-control" hidden/>
                    </div>
                    <div class="form-group">
                        <label asp-for="CpuId" class="control-label"></label>
                        <select asp-for="CpuId" class="form-control" asp-items="ViewBag.CpuId" required></select>
                        <span asp-validation-for="CpuId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MotherboardId" class="control-label"></label>
                        <select asp-for="MotherboardId" class="form-control" asp-items="ViewBag.MotherboardId" required></select>
                        <span asp-validation-for="MotherboardId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemoryId" class="control-label"></label>
                        <select asp-for="MemoryId" class="form-control" asp-items="ViewBag.MemoryId" required></select>
                        <span asp-validation-for="MemoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StorgeId" class="control-label"></label>
                        <select asp-for="StorgeId" class="form-control" asp-items="ViewBag.StorgeId" required></select>
                        <span asp-validation-for="StorgeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GpuId" class="control-label"></label>
                        <select asp-for="GpuId" class="form-control" asp-items="ViewBag.GpuId" required></select>
                        <span asp-validation-for="GpuId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaseId" class="control-label"></label>
                        <select asp-for="CaseId" class="form-control" asp-items="ViewBag.CaseId" required></select>
                        <span asp-validation-for="CaseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PsuId" class="control-label"></label>
                        <select asp-for="PsuId" class="form-control" asp-items="ViewBag.PsuId" required></select>
                        <span asp-validation-for="PsuId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <input type="submit" value="Update" class="btn btn-success float-end"/>
                        }
                        <a class="btn btn-secondary" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
