@using GameHelperApp.Enums
@model GameHelperApp.ViewModel.AddGameViewModel

@{
    ViewBag.Title = "Add new Game";
    Layout = "_Layout";
}

<div class="row text" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add new Game</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img id="Preview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cover" class="control-label"></label>
                        <input asp-for="Cover" class="form-control" />
                        <span asp-validation-for="Cover" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudioId" class="control-label"></label>
                        <select asp-for="StudioId" class="form-control" asp-items="ViewBag.Studios"></select>
                        <span asp-validation-for="StudioId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Genre" class="control-label"></label>
                        <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<GameGenre>()"></select>
                        <span asp-validation-for="Genre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EngineId" class="control-label"></label>
                        <select asp-for="EngineId" class="form-control" asp-items="ViewBag.Engines"></select>
                        <span asp-validation-for="EngineId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <input type="submit" value="Create" class="btn btn-success float-end"/>
                        }
                        <a class="btn btn-secondary" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function ()
        {
            var output = document.getElementById('Preview');
            output.src = $("#Cover").val();
        })
        $("#Cover").on("change",function ()
        {
            var output = document.getElementById('Preview');
            output.src = $(this).val();
        })
    </script>
}
